<h2>Log in</h2>

<div class="row">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row">
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :login, placeholder: 'Email or username', autofocus: true, autocomplete: "email" %>
          <%= f.label :login, class: 'active' %>
        </div>

        <div class="input-field col s12">
          <%= f.password_field :password, autocomplete: "current-password" %>
          <%= f.label :password, class: 'active' %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <p>
            <%= f.label :remember_me do %>
              <%= f.check_box :remember_me, class: 'filled-in' %>
              <span>Remember me</span>
            <% end %>
          </p>
        <% end -%>
      </div>

      <div class="row">
        <%= f.submit "Log in", class: 'btn' %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <%= render "users/shared/links" %>
  </div>

</div>
