<h2>Resend unlock instructions</h2>

<div class="row">
  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        <%= f.label :email, class: 'active' %>
      </div>

      <div class="row">
        <%= f.submit "Resend unlock instructions", class: 'btn' %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <%= render "users/shared/links" %>
  </div>

</div>
