<!DOCTYPE html>
<html>
  <head>
    <title>Devourr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

  </head>

  <body>

    <div id="wrapper" class="row">
      <%= render 'layouts/header' %>
      <div id="content" class="row">
        <%= render_flashes %>
        <main>
          <%= yield %>
        </main>
      </div>
    </div>


  </body>
</html>
