<h2>Edit Password</h2>

<div class="row">
  <%= form_for(resource, as: resource_name, url: update_account_profile_path(resource.user_name), html: { method: :put }) do |f| %>
    <div class="row">
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="row">
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        </div>
      <% end %>

      <div class="input-field col s12">
        <%= f.password_field :current_password, autocomplete: "current-password" %>
        <%= f.label :current_password, 'Old password', class: 'active' %>
      </div>

      <div class="input-field col s12">
        <%= f.password_field :password, autocomplete: "new-password", required: true %>
        <%= f.label :password, 'New password', class: 'active' %>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <%# no password_confirmation: https://cxl.com/blog/password-ux/ %>
    </div>


    <div class="row">
      <%= f.submit "Update", class: 'btn' %>
    </div>
  <% end %>

</div>
